.jumbo-header {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    /*font-family: 'Junction', serif;*/
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 62px;
    margin-top: 20px;
    padding-top: 120px;
}

.general-h {
    color: #3B5998;
    text-align: center;
    font-size: 50px;
    /*font-family: 'Junction', serif;*/
    font-family: 'Droid Serif', Georgia, Times, serif;
    /*font-size: 62px;*/
    line-height: 65px;
}

/*.div-profile {
    background-color: #f1eded;
}*/

.header-rule {
    width: 600px;
    color: #ffffff;
    border: 1px #ffffff solid;
}

.body-rule {
    width: 600px;
    color: #000000;
    border: 1px #ffffff solid;
}

#contact-border {
    border: 2px #ffffff solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    /*background: #4caf57;*/
}

#contact-border:hover {
    color: #ffffff;
}

.explore-button {
    font-weight: bold;
    color: #ffffff;
    border: 3px #ffffff solid;
    padding: 15px;
}

.explore-button:hover {
    text-decoration: none !important;
    background-color: #5A6070;
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: #ffffff;
    font-weight: bold;
}

.image-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-content: center;
}


.logo {
     width: 120px;
     height: 100px;
}

.logo-one {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 60px;
}

.logo-two {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #ff2222;
    font-size: 60px;
}

.span-border {
    font-family: 'Russo One', sans-serif;
    border: #ffffff 2px solid;
    padding: 5px;
    font-size: 60px;
    font-weight: bold;
}

.span-border a:hover {
    /*background-color: #e43636;*/
    text-decoration: none;
    color: #ffffff;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.span-border a:active {
    color: #ffffff;
    text-decoration: none;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.span-border-footer {
    font-family: 'Russo One', sans-serif;
    border: #ffffff 2px solid;
    padding: 5px;
    font-size: 60px;
    font-weight: bold;
}

.p-class {
    color: #ffffff;
    text-align: center;
    /*font-family: 'Junction', serif;*/
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.typing {
    white-space: nowrap;
    animation: type 4s steps(60, end);
    white-space: nowrap;
    overflow: hidden;
}

.name-span {
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes blink{
  to{opacity: .0;}
}

.body-class {
    color:#000000;
    text-align: center;
    /*font-family: 'Junction', serif;*/
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav-bar a:link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

/*a:visited {
    color: #ff1616;
}

.span-firstName {
    color: #ffffff;
    font-size: 20px;
}

.span-lastName {
    color: #ff2222;
    font-size: 20px;
}*/

.top-nav-bar a:hover {
    /*background-color: #e43636;*/
    text-decoration: none;
    color: #f77676;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.top-nav-bar a:active {
    color: #ff2222;
    text-decoration: none;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

li a {
    color: #ffffff;
}

 /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
} 

.fa-skype {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #55ACEE;
    color: white;
}

* { color:#fff; text-decoration: none;}

footer p {
    color: #000000;
}

/*
.background-profile {
    background: #5a60705e;
}

.background-portfolio {
    background: #5a60700c;
}

.background-resume {
    background: #5a607036;
}

.background-contact {
    background: #5a607046;
}
*/
.background-footer {
    background: #5a6070ad;
    min-height: 300px;
    min-width: 100%;
}

/*Sidenav behaviour*/
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

.trigram {
    display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 760px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }
}

@media (max-width: 600px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }
}

@media (max-width: 320px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }

    .explore-button {
        font-size: 20px;
    }
}

