.jumbo-header {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    /*font-family: 'Junction', serif;*/
    /*font-family: 'Droid Serif', Georgia, Times, serif;*/
    font-family: 'Monda', sans-serif;
    font-size: 62px;
    margin-top: 20px;
    padding-top: 120px;
}

.general-h {
    color: #ff2222;
    text-align: center;
    font-size: 4vw;
    /*font-family: 'Junction', serif;*/
    /*font-family: 'Droid Serif', Georgia, Times, serif;*/
    font-family: 'Ubuntu', sans-serif;
    /*font-size: 62px;*/
    line-height: 65px;
}

/*.div-profile {
    background-color: #f1eded;
}*/

.header-rule {
    width: 600px;
    color: #ffffff;
    border: 1px #ffffff solid;
}

.body-rule {
    width: 600px;
    color: #000000;
    border: 1px #ffffff solid;
}

#contact-border {
    border: 2px #ffffff solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    /*background: #4caf57;*/
}

#contact-border:hover {
    color: #000000;
    background: #ffffff;
}

.explore-button {
    font-weight: bold;
    color: #ffffff;
    border: 3px #ffffff solid;
    padding: 15px;
}

.explore-button:hover {
    text-decoration: none !important;
    /*background-color: #5A6070;*/
    background: #ffffff;
    /*opacity: 0.5;*/
    filter: alpha(opacity=0);
    color: #000000;
    font-weight: bold;
    border: 3px solid #ffffff;
    transition:all 0.5s ease-in-out;
}

.image-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-content: center;
    float: left;
    margin-left:50px;
}


.logo {
     width: 120px;
     height: 100px;
}

.logo-one {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 60px;
}

.logo-two {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #ff2222;
    font-size: 60px;
}

.span-border {
    font-family: 'Russo One', sans-serif;
    /*font-family: 'Monda', sans-serif;*/
    /*border: #ffffff 2px solid;*/
    padding: 5px;
    font-weight: bold;
    position: fixed;
}

.span-border:hover {
    color: #ffffffa1;
    transition:all 0.5s ease-in-out;
}

.span-border a:hover {
    /*background-color: #e43636;*/
    text-decoration: none;
    color: #ffffff;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.span-border a:active {
    color: #ffffff;
    text-decoration: none;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.span-border-footer {
    /*font-family: 'Russo One', sans-serif;*/
    font-family: 'Monda', sans-serif;
    border: #ffffff 2px solid;
    padding: 5px;
    font-size: 60px;
    font-weight: bold;
}

.p-class {
    color: #ffffff;
    text-align: center;
    /*font-family: 'Junction', serif;*/
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.typing {
    white-space: nowrap;
    animation: type 4s steps(60, end);
    white-space: nowrap;
    overflow: hidden;
}

.name-span {
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes blink{
  to{opacity: .0;}
}

.body-class {
    color:#000000;
    text-align: center;
    /*font-family: 'Junction', serif;*/
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    /*font-family: 'Open Sans', serif;*/
    /*font-family: 'Indie Flower', serif;*/
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 2px;
}

.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav-bar a:link {
    color: #ffffff;
    text-decoration: none;
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Monda', sans-serif;
}

/*a:visited {
    color: #ff1616;
}

.span-firstName {
    color: #ffffff;
    font-size: 20px;
}

.span-lastName {
    color: #ff2222;
    font-size: 20px;
}*/

.top-nav-bar a:hover {
    /*background-color: #e43636;*/
    text-decoration: none;
    border-bottom: 2px solid #f77676;
    /*color: #f77676;*/
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Monda', sans-serif;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}

.top-nav-bar a:active {
    color: #ff2222;
    text-decoration: none;
    /*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Monda', sans-serif;
}


.li-style {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.li-style a {
    color: #ffffff;
}

.li-style a:hover {
    color: #ffffffa1;
    transition:all 0.5s ease-in-out;
}

li {
    color: #000;
    list-style-type: square;
    /*font-family: 'Open Sans', serif;*/
    /*font-family: 'Indie Flower', serif;*/
    font-family: 'Monda', sans-serif;
    letter-spacing: 2px;
    line-height: 35px;
    font-size: 16px;
    margin-right: 100px;
}

.fun-text {
    color: #000;
    margin-left: 20px;
    list-style-type: square;
}

.contact-p {
    color: #000;
    /*font-family: 'Indie Flower', serif;*/
    font-family: 'Monda', sans-serif;
    font-size: 20px;
}

 /* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}/*

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: #ff2222a2;
    
    transition:all 0.5s ease-in-out;
}/*

/* Set a specific color for each brand */

/* Facebook *//*
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter *//*
.fa-twitter {
    background: #55ACEE;
    color: white;
} 

.fa-skype {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #000;
    color: #fff;
}*/

* { color:#fff; text-decoration: none;}

/*
footer p {
    color: #000000;
    font-family: 'Monda', sans-serif;
}*/

.footer-contents {
    padding-top: 50px;
}

/*
.background-profile {
    background: #5a60705e;
}

.background-portfolio {
    background: #5a60700c;
}

.background-resume {
    background: #5a607036;
}

.background-contact {
    background: #5a607046;
}
*/
.background-footer {
    background: #26262a;
    /*background-image: url('https://images.pexels.com/photos/442600/pexels-photo-442600.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: 100% 100%;*/
    min-height: 200px;
    min-width: 100%;
}

/*Sidenav behaviour*/
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

.trigram {
    display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 760px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }
    
    .fun-image {
        margin: 0px;
    }    
}

@media (max-width: 533px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }

    .fun-image {
        margin: 0px;
    }    
}

@media (max-width: 320px) {
    .trigram {
        display: block;
    }

    .top-nav-bar {
        display: none;
    }

    .explore-button {
        font-size: 20px;
    }

    .jumbotron, .p-class, .explore-button, .header-rule, .jumbo-header, .scroll-down {
        width: 100%;
    }

    .fun-image {
        margin: 0px;
    }
}

/*Bouncing down arrow on jumbotron*/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 2s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*Not quite sure what this does, but it sure messes up my hr ;) 
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/

section {
  height: 100vh;
  width: 100%;
  display: table;
}

.footer-paragraph {
    color: #fff;
    font-size: 16px;
    font-family: 'Monda', sans-serif;
}

.footer-paragraph a:hover {
    color: #ff2222;
    text-decoration: none;
}
/*
.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff9000;
}
 
.back-to-top i {
  font-size: 60px;
}*/

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#000;
    border-color: #fff;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:50%;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#3498db;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.hire {
    color: #000;
    border-bottom: 1px dotted #ff2222;
}

.hire:hover {
    color: #fff;
    border-bottom: none;
    background: #000;
    padding-left: 5px;
    padding-right: 5px;
}

.key-word {
    text-transform: uppercase;
    color: #ff2222;
    font-weight: bold;
    border-bottom: 1px dotted #ff2222;
}

.copyright {
    font-size: 14px;
}

.fun-image {
    width: 40%;
    height: auto;
    image-orientation: from-image;
    float: left;
    margin-right: 50px;
    margin-left:50px;
}

.blogger {
    color:#000; 
    border-bottom: 1px solid #ff2222;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #ff2222 50%, transparent 50%);
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.blogger:hover {
    /*background: #ff2222;*/
    color: #fff;
    background-image: linear-gradient(to top, #ff2222 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.about-me {
    /*font-family: 'Droid Serif', Georgia, Times, serif;*/
    font-family: 'Monda', sans-serif;
    padding-left: 10px;
}



/*Contact form styling*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/*
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}*/

/*
body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}*/

.hr-color {
    border-bottom: #ff2222a2;
}

.btn-color {
    background: #ff2222a2;
    width: 100%;
}

.btn-color:hover {
    background: #ff2222e8;
    transition: all 0.5s ease-in-out;
}

input {
    font-family: 'Monda', sans-serif;
}

.profile-rule {
    width: 25%;
    border-bottom: 8px solid #ff2222;
    border-radius: 50%;
    margin-top: 0px;
}

.facts-rule {
    width: 25%;
    border-bottom: 8px solid #ff2222;
    border-radius: 50%;
    margin-top: 0px;
}

.portfolio-rule {
    width: 10%;
    border-bottom: 8px solid #ff2222;
    border-radius: 50%;
    margin-top: 0px;
}

.contact-rule {
    width: 15%;
    border-bottom: 8px solid #ff2222;
    border-radius: 50%;
    margin-top: 0px;
}